<div class = "rev-new-container container">
    
    <div class = "rev-new-info">
        <div class = "rev-image-new"><%= attachment_image_tag @room_info, :image, size: "988x737", fallback: "area_no_image.png" %></div>
        <div class = "rev-name-new"><%= @room_info.room_name %></div>
        <div class = "rev-address-new"><%= @room_info.address %></div>
        <div class = "rev-body-new"><%= @room_info.body %></div>
    </div>
    
    <div class = "rev-new-reservate">
        
        <div>
            <span>¥</span>
            <%= @room_info.price %>
            <span>/ 日</span>
        </div>
        
        <%= form_with(model: [@room_info, @reservation], url: confirm_room_reservations_path(@room_info), local: true) do |f| %>
            <%= f.hidden_field :room_id, value: @room %>
            
            <div class = "rev-new-row">
                <%= f.label "開始日" %>
                <%= f.date_field :start_date %>
            </div>
            
            <div class = "rev-new-row">
                <%= f.label "終了日" %>
                <%= f.date_field :end_date %>
            </div>
            
            <div class = "rev-new-row">
                <%= f.label "人数" %>
                <%= f.number_field :person, in: 1..100 %>
            </div>
            
            <ul>
                <li><%= f.submit "この日程で予約する", class: "rev-reserve-btn" %></li>
            </ul>
            
        <% end %>
        
    </div>
    
</div>
